<h1 class= "title"> Crash ToDos</h1>


  <div class="to-dos-form">
    <%= form_tag to_dos_path, :method => 'get', id: "todos-search" do %>
      <span>
        <%= text_field_tag :search, params[:search], placeholder: "Search ToDos!" %>
      </span>
      <% end %>
    <div id= "text_block">

      <%= render 'to_dos' %>

    </div>
  </div>
