 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 ------------------
 Navigation
 ------------------*/


 #new-todo {
   margin-top: 0px;

   a {
     color: #ffffff;
     font-family: "QuickSand";
     font-size: 14px;
     display: block;
     padding: 0 13px;
     position: relative;
     text-transform: uppercase;
    }

 }

 #new-todo a:hover {
   color: #878787;
 }

 #new-todo a:after {
   border-bottom: 2px solid transparent;
   content: "";
   display: block;
   margin-right: auto;
   margin-left: auto;
   position: relative;
   top: 6px;
   width: 14px;
   z-index: 0;
 }

 #new-todo a.active {
   color: #878787;
 }

 #new-todo a.active:after {
   border-bottom: 2px solid #878787;
   content: "";
   display: block;
   margin-right: auto;
   margin-left: auto;
   position: relative;
   top: 6px;
   width: 14px;
   z-index: 0;
 }


body{
   height: 600px;
   background: image-url('coffee_cups.jpeg') repeat fixed center center / cover  rgba(0, 0, 0, 0);
 }

.title{
  text-align: center;
  color: white;
  font-size: 5em;
  font-weight: 100;
}

#sortable
 {
   background: rgba(255, 255, 255, 0.8);
   width: 600px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 5px;
   margin-top: 20px;
   margin-left: 20px;
 }
